.header{
  
  background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper-with-pizza_23-2148683829.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  margin: 0px;
  text-align: center;
  align-content: center;

  filter: brightness(0.5);
  z-index: 1;
}
.content{
  color: white;
}
body{
  margin: 0px;
}